*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #16A085;
	font-size: 1rem;
}

.temp_con{
	background: white;
	width: 100%;
	min-width: 320px;
	padding: 20px 25px 45px;
	border-radius: 5px;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-shadow: -5px -5px 250px 0 rgba(255,255, 255, 0.02) inset;
	backdrop-filter: blur(21px);
}

.title{
	color: #222;
	font-size: 1.5rem;
	text-align: center;
}

.res{
	
	text-align: center;
	margin: 20px 0;

}


.val{
	border-bottom: 3px solid #ccc;
	padding: 10px;
	transition: all .45s ease;
}

.deg-type{
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
}

label{
	color: #555;
	font-size: 1rem;
	margin-bottom: 5px;
}

input{
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 2px solid #ccc;
	padding: 8px;
	margin-bottom: 15px;
}


#convert-Btn{
	border: none;
	outline: none;
	border-radius: 15px;
	background: linear-gradient(to bottom, #3633f3, #120fb9);
	color: #f6f6f6;
	padding: 12px 80px;
	font-weight: bold;
	letter-spacing: 1px;
	transition: 10px;
	margin-top: all .3s ease-in;
	text-transform: uppercase;
	cursor: pointer;
}
